*{
  margin: 0;
  padding: 0;
}



.counter h1{
  background-color: rgb(137, 130, 130);
  width: fit-content;
  font-size: 100px;
  border: 5px;
  padding: 10px 80px;
   margin: 20px
}


 button{
  padding: 10px 20px;
  margin: 20px;
}
